body {
  background-color: var(--background-color);
}

.bookingPageTitle {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-bottom: 40px;
}

.booking-logo-title {
  color: var(--header-title-color);
}

.circle-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: -20px 0 0 0;
  border: 4px solid var(--background-color);
}

.header-title {
  background-color: var(--header-color);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
}

.title { 
  color: var(--main-text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.8em;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: bold;
  margin: 5px 0 8px 0;
}

.subtext {
  color: var(--secondary-text-color);
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin: 0;
}

@media (min-width: 577px) {
  .bookingPageTitle {
    max-width: 450px; 
    margin: 0 auto 20px auto; 
  }
}
