.wrapper .react-datepicker {
  zoom: 1.5;
  border: 0.4px solid var(--calendar-border-color);
  background-color: #EEEDFF;
}

.wrapper .react-datepicker__header {
  background-color: var(--calendar-header-background-color);
}

.wrapper .react-datepicker__current-month {
  color: var(--calendar-text-color)
}

.wrapper .react-datepicker__day-name {
  color: var(--calendar-text-color)
}

.wrapper .react-datepicker__day--disabled {
  position: relative;
  color: var(--disabled-days-text-color);
}

.wrapper .react-datepicker__day:hover {
  border-radius:50%;
}

.wrapper .react-datepicker__day--selected,
.wrapper .react-datepicker__day--selected:hover {
  background-color: var(--calendar-selected-day-color);
  border-radius: 50%;
}

.appointmentBtn {
  background-color: var(--button-color);
  color: var(--calendar-text-color);
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 10px 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}